.movies-top-rated{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.movies-top-rated h1 {
    font-size: 32px;
    color: beige;
    font-weight: bold;
    padding-left: 15px;
}
.movies-top-rated svg {
    font-size: 32px;
    color: beige;
    margin-top: 5px;
}
.empty-movie{
    font-style: italic;
    margin-bottom: 40px;
    font-size: 18px;
}
.empty-movie a{
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    text-decoration: underline;
}
@media screen and (max-width: 767px) {
    .empty-movie{
        font-size: 16px;
    }
    .empty-movie a{
        font-size: 17px;
    }
}