.main-footer{
    background-color: #151A2F;
}
.footer-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.footer-section .right{
    display: flex;
}
.footer-section .right svg {
    font-size: 40px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: .5s;
}
.footer-section .right svg:hover{
    background-color: white;
    color: black;
}
.footer-section .right a{
    margin-right: 15px;
}
.footer-section .right a:last-child{
    margin-right: 0;
}
@media screen and (max-width: 767px) {
    .footer-section{
        display: block;
    }
    .footer-section .right{
        display: flex;
        justify-content: end;
        padding-top: 20px;
    }
}