.single-movie {
    position: relative;
}
.single-movie::after {
    content: '';
    background: #00000085;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s;
}
.single-movie:hover:after{
    opacity: 1;
}
.single-movie .popularMovie-img {
    width: 100%;
    border: 1px solid #ffffff52;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    transition: .5s;
}
.single-movie .imdb-rating {
    font-size: 15px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 9;
    background: black;
    padding: 5px 8px;
    font-weight: bold;
    text-align: center;
    transition: .5s ease-in-out
}
.single-movie:hover .imdb-rating{
    opacity: 1;
}
.single-movie .flex-content {
    position: absolute;
    width: 96%;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -1%);
    z-index: 9;
}
.single-movie .content {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding: 10px 5px;
    align-items: center;
    color: white;
}
.single-movie .content h3{
    font-size: 18px;
}
.single-movie .content button {
    background-color: red;
    padding: 9px;
    border-radius: 5px;
}
.single-movie .content svg{
    font-size: 18px;
    color: white;
}
@media screen and (max-width: 576px) {
    .single-movie .popularMovie-img {
        height: 450px;
    }
}